

.contenedorPregunta{
	background-color: none;
	padding-top: 1em;
	padding-bottom: 3em;

}


textarea{
	font-size: 1.5em;
	width:100%;
}

button{
	margin-top:1em;
	font-size: 2em;
	width:100%;
}

.contenedorRespuestas{
    margin-bottom: 10px;
}




.limpiar{
	clear: both;
}





footer {
    text-align: center;
    padding: 50px;
	background-color: #DDDDDD;
}

